Mahadi_Hasan_7213891_Grp_3.json
[{"id":"ca0ec55e3e6be273","type":"tab","label":"Node-Red_Task_Mahadi_Grp_3","disabled":false,"info":"","env":[]},{"id":"9ade19f9db0a893c","type":"mqtt-broker","name":"innput","broker":"pro-server-01.ikt.fh-dortmund.de","port":"8883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ad7e648334bfe48c","type":"ui_tab","name":"CO2","icon":"dashboard","disabled":false,"hidden":false},{"id":"a5ea6c489ec27cf6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bff054eef430a6f9","type":"mqtt-broker","name":"DS1_Message_Broker","broker":"mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6af83c2834fd77d5","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2ab1d065df9fbead","type":"ui_group","name":"DASHBOARD","tab":"6af83c2834fd77d5","order":1,"disp":true,"width":"27","collapse":false,"className":""},{"id":"249890f46cf40637","type":"mqtt in","z":"ca0ec55e3e6be273","name":"","topic":"things/multisensorBathroom/#","qos":"2","datatype":"auto","broker":"bff054eef430a6f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":220,"wires":[["6b5b7f0a91ac2425"]]},{"id":"43dc3f0eb00bb948","type":"debug","z":"ca0ec55e3e6be273","name":"DebugHuminidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":200,"wires":[]},{"id":"6b5b7f0a91ac2425","type":"json","z":"ca0ec55e3e6be273","name":"","property":"payload","action":"","pretty":false,"x":470,"y":220,"wires":[["369992766d3c80b3"]]},{"id":"369992766d3c80b3","type":"switch","z":"ca0ec55e3e6be273","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"humidity","vt":"str"},{"t":"hask","v":"co2","vt":"str"},{"t":"hask","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":220,"wires":[["464e938248585f9c","e6f24212f0f0f1b5"],["bddd585011f1e18e","a935eda67d8f6d2f"],["1f88d2039a58e94c","aba90ca4a1d171a2"]]},{"id":"464e938248585f9c","type":"function","z":"ca0ec55e3e6be273","name":"ExtractHumidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":200,"wires":[["43dc3f0eb00bb948","5b9ead86f7417386","106f2121523da707"]]},{"id":"bddd585011f1e18e","type":"function","z":"ca0ec55e3e6be273","name":"ExtractCo2","func":"msg.payload = msg.payload.co2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":260,"wires":[["4ec92e375d828c25","2723b9fd77b71124","df222ec1a7e0ed36"]]},{"id":"4ec92e375d828c25","type":"debug","z":"ca0ec55e3e6be273","name":"DebugCo2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":260,"wires":[]},{"id":"1f88d2039a58e94c","type":"function","z":"ca0ec55e3e6be273","name":"ExtractTemperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":320,"wires":[["8b6ce204ce6def1c","4933d9fd8a71ec48","5cfbbe89b3cb2352"]]},{"id":"8b6ce204ce6def1c","type":"debug","z":"ca0ec55e3e6be273","name":"DebugTemperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":320,"wires":[]},{"id":"84f3eeadce197a1c","type":"mqtt in","z":"ca0ec55e3e6be273","name":"","topic":"things/multisensorBathroom/#","qos":"2","datatype":"auto","broker":"bff054eef430a6f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":220,"wires":[[]]},{"id":"eaf3194595840ff4","type":"mqtt in","z":"ca0ec55e3e6be273","name":"","topic":"things/AC-67-B2-63-DC-FC/#","qos":"2","datatype":"auto","broker":"bff054eef430a6f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":680,"wires":[["e4bf4bc46a4c6bd2"]]},{"id":"4a0a3b42e976affa","type":"debug","z":"ca0ec55e3e6be273","name":"DebugRssi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":620,"wires":[]},{"id":"e4bf4bc46a4c6bd2","type":"json","z":"ca0ec55e3e6be273","name":"","property":"payload","action":"","pretty":false,"x":450,"y":680,"wires":[["169053471bb89978"]]},{"id":"169053471bb89978","type":"switch","z":"ca0ec55e3e6be273","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"rssi","vt":"str"},{"t":"hask","v":"temperature","vt":"str"},{"t":"hask","v":"humidity","vt":"str"},{"t":"hask","v":"pressure","vt":"str"},{"t":"hask","v":"co2equivalent","vt":"str"},{"t":"hask","v":"breathevoc","vt":"str"},{"t":"hask","v":"airqualityindex","vt":"str"},{"t":"hask","v":"distance","vt":"str"},{"t":"hask","v":"magnetic","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":630,"y":680,"wires":[["8ce8e7e41bd928a1"],["d584add60a70d6dd","a45d35799d5b1b3a"],["871f085bda768241"],["0612bc153ab45f62","e251b2c329cb075d"],["09dafc01f09646a5"],["e6ac1c84e68e8e8f"],["e28ce6414e2ad292"],["b7e8594b4ca53182"],["a51fe653a96f9da9"]]},{"id":"8ce8e7e41bd928a1","type":"function","z":"ca0ec55e3e6be273","name":"ExtractRssi","func":"msg.payload = msg.payload.rssi;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":620,"wires":[["4a0a3b42e976affa"]]},{"id":"871f085bda768241","type":"function","z":"ca0ec55e3e6be273","name":"ExtractHumidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":740,"wires":[["75f650fb7598badd"]]},{"id":"d584add60a70d6dd","type":"function","z":"ca0ec55e3e6be273","name":"ExtractTemperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":680,"wires":[["ad0806dc1af743c9","7d22e661165de8d5","f8db27954b70835e"]]},{"id":"0612bc153ab45f62","type":"function","z":"ca0ec55e3e6be273","name":"ExtractPressure","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":800,"wires":[["f641271b356a2f2a","12736c3411019db2","8a17d975ef09f660"]]},{"id":"09dafc01f09646a5","type":"function","z":"ca0ec55e3e6be273","name":"ExtractCo2equivalent","func":"msg.payload = msg.payload.co2equivalent;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":860,"wires":[["7125238a52ba1ca4"]]},{"id":"ad0806dc1af743c9","type":"debug","z":"ca0ec55e3e6be273","name":"DebugTemperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":680,"wires":[]},{"id":"e6ac1c84e68e8e8f","type":"function","z":"ca0ec55e3e6be273","name":"ExtractBreathevoc","func":"msg.payload = msg.payload.breathevoc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":920,"wires":[["a23fd5c6fdf54af6"]]},{"id":"e28ce6414e2ad292","type":"function","z":"ca0ec55e3e6be273","name":"ExtractAirqualityindex ","func":"msg.payload = msg.payload.airqualityindex;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1040,"wires":[["552b07f18b864e49"]]},{"id":"b7e8594b4ca53182","type":"function","z":"ca0ec55e3e6be273","name":"ExtractDistance","func":"msg.payload = msg.payload.distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1140,"wires":[["70e34bf144918c00"]]},{"id":"a51fe653a96f9da9","type":"function","z":"ca0ec55e3e6be273","name":"ExtractMagnetic ","func":"msg.payload = msg.payload.magnetic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":980,"wires":[["fe49e55a44810075"]]},{"id":"e363b1b96de32db2","type":"inject","z":"ca0ec55e3e6be273","name":"offCommand","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"onOff\": false}","payloadType":"json","x":270,"y":1320,"wires":[["0a5e2799803ec0b2"]]},{"id":"9936b04c4b74cccb","type":"inject","z":"ca0ec55e3e6be273","name":"onCommand","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"onOff\": true}","payloadType":"json","x":270,"y":1400,"wires":[["0a5e2799803ec0b2"]]},{"id":"0a5e2799803ec0b2","type":"mqtt out","z":"ca0ec55e3e6be273","name":"","topic":"EDC/things/VirtualThingOnOffGroup03/properties/onOff","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bff054eef430a6f9","x":650,"y":1360,"wires":[]},{"id":"eeb87ac362d360dd","type":"comment","z":"ca0ec55e3e6be273","name":"Day 1 Ex 2","info":"","x":240,"y":1260,"wires":[]},{"id":"75f650fb7598badd","type":"debug","z":"ca0ec55e3e6be273","name":"DebugHumidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":740,"wires":[]},{"id":"f641271b356a2f2a","type":"debug","z":"ca0ec55e3e6be273","name":"DebugPressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":800,"wires":[]},{"id":"7125238a52ba1ca4","type":"debug","z":"ca0ec55e3e6be273","name":"DebugCo2equivalent ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":860,"wires":[]},{"id":"a23fd5c6fdf54af6","type":"debug","z":"ca0ec55e3e6be273","name":"DebugBreathevoc ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":920,"wires":[]},{"id":"fe49e55a44810075","type":"debug","z":"ca0ec55e3e6be273","name":"DebugMagnetic ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":980,"wires":[]},{"id":"552b07f18b864e49","type":"debug","z":"ca0ec55e3e6be273","name":"DebugAirqualityindex","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":1040,"wires":[]},{"id":"70e34bf144918c00","type":"debug","z":"ca0ec55e3e6be273","name":"DebugDistance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":1140,"wires":[]},{"id":"d7ce17ff62071b63","type":"comment","z":"ca0ec55e3e6be273","name":"Day 1 - EX 1, Day 2 - EX 1, Day 2 - EX 2","info":"","x":250,"y":120,"wires":[]},{"id":"c5d4ce036b11a813","type":"ui_switch","z":"ca0ec55e3e6be273","name":"","label":"Switch","tooltip":"","group":"2ab1d065df9fbead","order":0,"width":"5","height":"5","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":250,"y":1560,"wires":[["98cb15a5cefa69aa"]]},{"id":"76fe9574963a8ea1","type":"mqtt out","z":"ca0ec55e3e6be273","name":"","topic":"EDC/things/VirtualThingOnOffGroup03/properties/onOff","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bff054eef430a6f9","x":970,"y":1560,"wires":[]},{"id":"98cb15a5cefa69aa","type":"function","z":"ca0ec55e3e6be273","name":"","func":"if(msg.payload === true){\n    msg.payload = '{\"onOff\":true}'\n    \n}else{\n    msg.payload = '{\"onOff\":false}'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1560,"wires":[["76fe9574963a8ea1"]]},{"id":"eee6f368bd185060","type":"mqtt in","z":"ca0ec55e3e6be273","name":"","topic":"things/VirtualThingOnOffGroup03/properties/onOff","qos":"2","datatype":"auto","broker":"bff054eef430a6f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":1680,"wires":[["f8e0e560b4b07a9a"]]},{"id":"0bc43305b3b5cc80","type":"function","z":"ca0ec55e3e6be273","name":"","func":"msg.payload = msg.payload.onOff;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1680,"wires":[["c329cd8c9e0ef04b","c5d4ce036b11a813"]]},{"id":"c329cd8c9e0ef04b","type":"debug","z":"ca0ec55e3e6be273","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":1680,"wires":[]},{"id":"f8e0e560b4b07a9a","type":"json","z":"ca0ec55e3e6be273","name":"","property":"payload","action":"","pretty":false,"x":670,"y":1680,"wires":[["0bc43305b3b5cc80"]]},{"id":"2723b9fd77b71124","type":"ui_gauge","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":2,"width":"5","height":"5","gtype":"gage","title":"CO2 in ppm","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"800","seg2":"1600","className":"","x":1510,"y":260,"wires":[]},{"id":"5b9ead86f7417386","type":"ui_gauge","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":2,"width":"5","height":"5","gtype":"gage","title":"HUMIDITY in %","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","className":"","x":1520,"y":200,"wires":[]},{"id":"4933d9fd8a71ec48","type":"ui_gauge","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":2,"width":"5","height":"5","gtype":"gage","title":"TEMPERATURE IN °C","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","className":"","x":1540,"y":320,"wires":[]},{"id":"7d22e661165de8d5","type":"ui_gauge","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":2,"width":"5","height":"5","gtype":"gage","title":"TEMPERATURE IN °C","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","className":"","x":1520,"y":680,"wires":[]},{"id":"12736c3411019db2","type":"ui_gauge","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":2,"width":"5","height":"5","gtype":"gage","title":"CO2 in ppm","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"800","seg2":"1600","className":"","x":1650,"y":800,"wires":[]},{"id":"106f2121523da707","type":"ui_chart","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":6,"width":"5","height":"5","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1720,"y":200,"wires":[[]]},{"id":"df222ec1a7e0ed36","type":"ui_chart","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":6,"width":"5","height":"5","label":"Co2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1730,"y":260,"wires":[[]]},{"id":"5cfbbe89b3cb2352","type":"ui_chart","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":6,"width":"5","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1750,"y":320,"wires":[[]]},{"id":"f8db27954b70835e","type":"ui_chart","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":6,"width":"5","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1730,"y":680,"wires":[[]]},{"id":"8a17d975ef09f660","type":"ui_chart","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","order":6,"width":"5","height":"5","label":"Co2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1950,"y":800,"wires":[[]]},{"id":"c4f17d485f181e18","type":"ui_text","z":"ca0ec55e3e6be273","group":"2ab1d065df9fbead","order":0,"width":"5","height":"5","name":"","label":"Bathroom Humidity Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1240,"y":140,"wires":[]},{"id":"e6f24212f0f0f1b5","type":"function","z":"ca0ec55e3e6be273","name":"ConditionForHumidity","func":"msg.payload = msg.payload.humidity;\nif (msg.payload >= 40  && msg.payload <= 70){\n    \n   msg.payload =\"Alert\" ;\n    \n}else if(msg.payload >= 70  && msg.payload <= 100){\n    msg.payload =\"Danger\" ;\n}else{\n    msg.payload =\"Normal\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":140,"wires":[["c4f17d485f181e18","71e9d4a1d5e9eda8","ee9722ba199b5b22"]]},{"id":"ee9722ba199b5b22","type":"ui_audio","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","voice":"Google US English","always":"","x":1720,"y":140,"wires":[]},{"id":"71e9d4a1d5e9eda8","type":"ui_toast","z":"ca0ec55e3e6be273","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"NotificationsforHumidity","x":1490,"y":140,"wires":[]},{"id":"b02a5d8d2b995ec4","type":"e-mail","z":"ca0ec55e3e6be273","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"user@gmail.com","dname":"","x":1210,"y":80,"wires":[]},{"id":"a935eda67d8f6d2f","type":"function","z":"ca0ec55e3e6be273","name":"ConditionForCo2","func":"msg.payload = msg.payload.humidity;\nif (msg.payload >= 800  && msg.payload <= 1600){\n    \n   msg.payload =\"Alert\" ;\n    \n}else if(msg.payload >= 1600  && msg.payload <= 2000){\n    msg.payload =\"Danger\" ;\n}else{\n    msg.payload =\"Normal\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":380,"wires":[["b0d3d890210349fd","bc2e1462060e8ee4"]]},{"id":"b0d3d890210349fd","type":"ui_text","z":"ca0ec55e3e6be273","group":"2ab1d065df9fbead","order":0,"width":"5","height":"5","name":"","label":"Bathroom Co2 Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1220,"y":380,"wires":[]},{"id":"aba90ca4a1d171a2","type":"function","z":"ca0ec55e3e6be273","name":"ConditionForTemperature","func":"msg.payload = msg.payload.humidity;\nif (msg.payload >= 30  && msg.payload <= 60){\n    \n   msg.payload =\"Alert\" ;\n    \n}else if(msg.payload >= 60  && msg.payload <= 100){\n    msg.payload =\"Danger\" ;\n}else{\n    msg.payload =\"Normal\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":440,"wires":[["86e0ea5467d2c0c6","9a55c6f3f128b303"]]},{"id":"86e0ea5467d2c0c6","type":"ui_text","z":"ca0ec55e3e6be273","group":"2ab1d065df9fbead","order":0,"width":"5","height":"5","name":"","label":"Bathroom Temperature Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1250,"y":440,"wires":[]},{"id":"bc2e1462060e8ee4","type":"ui_audio","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","voice":"Google US English","always":"","x":1500,"y":380,"wires":[]},{"id":"9a55c6f3f128b303","type":"ui_audio","z":"ca0ec55e3e6be273","name":"","group":"2ab1d065df9fbead","voice":"Google US English","always":"","x":1500,"y":440,"wires":[]},{"id":"a45d35799d5b1b3a","type":"function","z":"ca0ec55e3e6be273","name":"ConditionForTemperature","func":"msg.payload = msg.payload.humidity;\nif (msg.payload >= 30  && msg.payload <= 60){\n    \n   msg.payload =\"Alert\" ;\n    \n}else if(msg.payload >= 60  && msg.payload <= 100){\n    msg.payload =\"Danger\" ;\n}else{\n    msg.payload =\"Normal\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":640,"wires":[["b88dd471416f12bf"]]},{"id":"b88dd471416f12bf","type":"ui_text","z":"ca0ec55e3e6be273","group":"2ab1d065df9fbead","order":0,"width":"5","height":"5","name":"","label":"AC-67-B2-63-DC-FC Temperature Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1900,"y":640,"wires":[]},{"id":"e251b2c329cb075d","type":"function","z":"ca0ec55e3e6be273","name":"ConditionForCo2","func":"msg.payload = msg.payload.humidity;\nif (msg.payload >= 800  && msg.payload <= 1600){\n    \n   msg.payload =\"Alert\" ;\n    \n}else if(msg.payload >= 1600  && msg.payload <= 2000){\n    msg.payload =\"Danger\" ;\n}else{\n    msg.payload =\"Normal\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":760,"wires":[["dec4ccb5ba44268d"]]},{"id":"dec4ccb5ba44268d","type":"ui_text","z":"ca0ec55e3e6be273","group":"2ab1d065df9fbead","order":0,"width":"5","height":"5","name":"","label":"AC-67-B2-63-DC-FC Co2 Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1840,"y":760,"wires":[]}]